.description{
  width: 100%;

  background-color: #f0f0f0;
}

.description__wrapper {
  padding: 180px 150px;
}

.description__text {
  margin: 0;
  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 42px;
  // letter-spacing: 3px;
  color: #000000;

  text-align: center;
}
