.footer {
  width: 100%;

  margin: 0;
  padding: 0;

  background-color: #292929;
}

.footer__wrapper {
  width: 1000px;

  margin: 0 auto;
  padding: 40px 0;
}

.footer--lecture .footer__wrapper {
  width: 1200px;

  padding-left: 0;
}

.footer__description {
  margin: 0;
  padding: 2px 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
}

.footer--lecture .footer__description {
  padding-left: 20px;
}
