.header {
  width: 100%;

  margin-top: 50px;

  border-bottom: 3px solid #ffffff;
  background-color: @background;
}

.header__wrapper {
  position: relative;

  display: flex;

  width: 1000px;

  margin: 0 auto;
}
