.header {
  width: 100%;

  // border-bottom: 3px solid #ffffff;
}

.header--lecture {
  background-color: @background;
}

.header__wrapper {
  position: relative;

  display: flex;

  width: 1000px;

  margin: 0 auto;
}
