.lecture-content {
  flex-grow: 1;

  width: 760px;

  margin-left: 100px;
  margin-right: 20px;
  padding-top: 40px;
}

.lecture-content--js {
  margin-left: 320px;
}

.lecture-content__title {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: #000000;

  text-align: left;
}

.lecture-content__subtitle {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #000000;

  text-align: left;
}

.lecture-content__text {
  margin: 0;
  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-indent: 50px;
  color: #000000;

  text-align: justify;
}

.lecture-content__text--last {
  margin-bottom: 35px;
}

.lecture-content__text--center {
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: center;
}

.lecture-content__text ~ ul{
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-indent: 0;
  color: #000000;

  text-align: justify;
}
