.navigation {
  margin: 0 auto;
}

.navigation__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation__link {
  display: block;

  padding: 43px 45px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: @link-hover;
  }

  &:active {
    background-color: @link-active;
  }
}

.navigation--lecture .navigation__link {
  padding: 20px 40px;

  &:hover,
  &:focus {
    background-color: @lecture-link-hover;
  }

  &:active {
    background-color: @lecture-link-active;
  }
}

.navigation--lecture .navigation__item:first-child .navigation__link{
  margin-right: 70px;
}
