.navigation {
  margin-left: auto;
}

.navigation__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation__link {
  display: block;

  padding: 30px 20px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  // text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {

  }

  &:active {

  }
}

.navigation__item:last-child .navigation__link {
  margin-right: 0;
}
