.navigation {
  margin: 0 auto;
}

.navigation__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation__link {
  display: block;

  padding: 43px 45px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: @light-brown-30;
  }

  &:active {
    background-color: @light-brown-50;
  }
}
