.page-button--left,
.page-button--right {
  position: fixed;
  top: 35vh;
  left: 403px;

  width: 60px;
  height: 230px;

  background-color: transparent;

  cursor: pointer;

  &:hover {
    background-color: rgba(245,242,240,1);
  }
}

.page-button--right {
  top: 35vh;
  left: 1277px;
}

.page-button--right::before {
  content: "";
  position: absolute;
  top: 103px;
  left: 22px;

  width: 15px;
  height: 23px;

  background-image: url("../img/arrow.svg");
  transform: rotate(180deg);
}

.page-button--left::before {
  content: "";
  position: absolute;
  top: 103px;
  left: 22px;

  width: 15px;
  height: 23px;

  background-image: url("../img/arrow.svg");
}

.page-button--disabled {
opacity: 0.3;

  cursor: default;

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.page-button--up {
  position: fixed;
  bottom: 40px;
  right: 20px;

  width: 40px;
  height: 40px;

  background-color: #f5f2f0;
}

.page-button--up::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 12px;

  width: 15px;
  height: 23px;

  background-image: url("../img/arrow.svg");
  transform: rotate(90deg);
}
