.task-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: flex-start;
  flex-grow: 1;

  width: 760px;

  margin-left: 104px;
  margin-right: 20px;
  padding-top: 54px;
}

.task-content__title {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  color: #000000;

  text-align: left;
}

.task-content__text {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #000000;

  text-align: left;
}

.task-content__task-area {
  width: 94%;
  height: 220px;

  margin-bottom: 30px;
  padding: 15px 22px;

  border: 1px solid #444444;
  border-radius: 4px;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #000000;

  text-align: left;

  &::placeholder {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #c8c8c8;

    text-align: left;
  }
}

.task-content__task-area:last-of-type {
  margin-bottom: 100px;
}

.task-content__task-button {
  align-self: flex-end;

  padding: 16px 60px;

  background-color: transparent;
  border: 1px solid #444444;
  border-radius: 4px;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #7a7a7a;

  text-align: center;

  &:hover,
  &:focus {
    background-color: #7a7a7a;
    color: #ffffff;
  }

  &:active {
    opacity: 0.6;
  }
}

.task-content__lecture {
  margin: 0;
  margin-bottom: 100px;
  padding: 0;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000000;

  text-align: left;
}
