.title {
  width: 100%;

  background-color: @dark-brown;
}

.title__wrapper {
  width: 1000px;
  height: 200px;

  margin: 0 auto;
}

.title__title {
  display: inline-block;

  margin: 0;
  margin-left: 313px;
  margin-top: 68px;
  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 52px;
  color: @light-brown;
  text-transform: uppercase;
}
